.Home {
  .title-Home {
    text-align: center;
    background-size: cover;
    color:rgb(6, 4, 4);
   background-image: url("https://image.winudf.com/v2/image/Y29tLmZsYWd3YWxscGFwZXIuZnJhbmNlX3NjcmVlbl8wXzE1Mzc4NzUwNzVfMDg2/screen-0.jpg?fakeurl=1&type=.webp");
}
}
