.banner{
    height: 60vh;

    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    .first{
        display: flex;
       
        align-items: center;
        background-color: rgb(117, 108, 108);
        height: 50vh;
        width: 50vh;
    table{
        
    }
    }
}